{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <div class="grid fluid">
        <h1>
            <a href="{{ path('vocabularies_reeldiameters') }}"><i class="icon-arrow-left-3 smaller"></i> </a>
            New Reel Diameter
        </h1>

        {{ form_start(form, {attr: {class:'form-horizontal'} }) }}
        <fieldset>
            {{ form_errors(form) }}
            <br />
            <label>Name</label>
            <div class="input-control text" data-role="input-control">
                {{ form_widget(form.name, {attr: {class:'size4'} }) }}
                {% for errorItem in form.name.vars.errors %}
                    <span class="has-error text-danger" for="{{ form.name.vars.id }}">{{ errorItem.message }}</span>
                {% endfor %}
            </div>
            <label>Formats</label>
            <div class="input-control select" data-role="input-control">
                {{ form_widget(form.reelFormat, {attr: {class:'size4 formats_dd',id:'formats'} }) }}
                {% for errorItem in form.reelFormat.vars.errors %}
                    <span class="has-error text-danger" for="{{ form.reelFormat.vars.id }}">{{ errorItem.message }}</span>
                {% endfor %}
            </div>
             <label>Score</label>
            <div class="input-control text" data-role="input-control">
                {{ form_widget(form.score, {attr: {class:'size4'} }) }}
                {% for errorItem in form.score.vars.errors %}
                    <span class="has-error text-danger" for="{{ form.score.vars.id }}">{{ errorItem.message }}</span>
                {% endfor %}
            </div>
            {{ form_widget(form.submit, {attr: {class:'button primary'} }) }}
			or
			<a class="button"   href="{{ path('vocabularies_reeldiameters') }}">Cancel</a>
        </fieldset>
        {{ form_end(form) }}
    </div>
{% endblock %}
