{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    <h3 class="form-signin-heading">Edit Profile</h3>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label no-left-padding">{{ 'profile.show.username'|trans }}</label>
        <div class="col-sm-4">
            {{ form_widget(form.username, {attr: {class:'form-control'} }) }}
            {% for errorItem in form.username.vars.errors %}
                <span class="has-error text-danger" for="{{ form.username.vars.id }}">{{ errorItem.message }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label no-left-padding">{{ 'profile.show.email'|trans }}</label>
        <div class="col-sm-4">
            {{ form_widget(form.email, {attr: {class:'form-control'} }) }}
            {% for errorItem in form.email.vars.errors %}
                <span class="has-error text-danger" for="{{ form.email.vars.id }}">{{ errorItem.message }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label no-left-padding">Current password</label>
        <div class="col-sm-4">
            {{ form_widget(form.current_password, {attr: {class:'form-control'} }) }}
            {% for errorItem in form.current_password.vars.errors %}
                <span class="has-error text-danger" for="{{ form.current_password.vars.id }}">{{ errorItem.message }}</span>
            {% endfor %}
        </div>
    </div>
    <br />
    <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label no-left-padding"></label>
        <div class="col-sm-4">
            <button class="btn btn-m btn-primary btn-block"  type="submit" id="_submit" name="_submit">{{ 'profile.edit.submit'|trans }}</button>
        </div>    
    </div>
    {{ form_end(form) }}
</form>
