{% trans_default_domain 'FOSUserBundle' %}
<div class="grid fluid">
<h1>
		<a href="{{ path('fos_user_profile_show') }}"><i class="icon-arrow-left-3 fg-darker smaller"></i> </a>
		Edit Profile
	</h1>
<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">

    {{ form_start(form, {attr: {class:'form-horizontal'} }) }}
    <fieldset>
    {{ form_errors(form) }}
        <br />
        <label>Name</label>
    <div class="input-control text" data-role="input-control">
            {{ form_widget(form.name, {attr: {class:'size4'} }) }}
            {% for errorItem in form.name.vars.errors %}
            <span class="has-error text-alert" for="{{ form.name.vars.id }}">{{ errorItem.message }}</span>
            {% endfor %}
    </div>
        <label>{{ 'profile.show.email'|trans }}</label>
    <div class="input-control text" data-role="input-control">
            {{ form_widget(form.email, {attr: {class:'size4'} }) }}
            {% for errorItem in form.email.vars.errors %}
            <span class="has-error text-alert" for="{{ form.email.vars.id }}">{{ errorItem.message }}</span>
            {% endfor %}
    </div>
        <label>{{ 'profile.show.username'|trans }}</label>
    <div class="input-control text" data-role="input-control">
            {{ form_widget(form.username, {attr: {class:'size4'} }) }}
            {% for errorItem in form.username.vars.errors %}
            <span class="has-error text-alert" for="{{ form.username.vars.id }}">{{ errorItem.message }}</span>
            {% endfor %}
    </div>
         <label>Current password</label>
    <div class="input-control text" data-role="input-control">
            {{ form_widget(form.current_password, {attr: {class:'size4'} }) }}
            {% for errorItem in form.current_password.vars.errors %}
            <span class="has-error text-alert" for="{{ form.current_password.vars.id }}">{{ errorItem.message }}</span>
            {% endfor %}
    </div>
         <div class="clearfix"></div>
    <br />
    <button class="button primary"  type="submit" id="_submit" name="_submit">{{ 'profile.edit.submit'|trans }}</button>
        or
        <a class="button"   href="{{ path('fos_user_profile_show') }}">Cancel</a>
    </fieldset>
    {{ form_end(form) }}
</form>
</div>
