{% trans_default_domain 'FOSUserBundle' %}
<div class="grid fluid">
    <h1>
        <a href="{{ path('_welcome') }}"><i class="icon-arrow-left-3 fg-darker smaller"></i> </a>
        Profile
    </h1>
    <ul class="inline">
        <li>
            <a href="{{ path('fos_user_profile_edit') }}" class="button primary">
                Edit
            </a>
        </li>
        <li><a href="{{ path('_welcome') }}" class="button">
                Cancel
            </a></li>
    </ul>
    <div class="fos_user_user_show">
        <form action="#" method="POST" class="form-horizontal">

            <dl class="horizontal">
                <dt>Name</dt>
                <dd>
                    <p class="form-control-static">{{ user.name }}</p>
                </dd>
            </dl>
            <dl class="horizontal">
                <dt>{{ 'profile.show.username'|trans }}</dt>
                <dd>
                    <p class="form-control-static">{{ user.username }}</p>
                </dd>
            </dl>
            <dl class="horizontal">
                <dt>{{ 'profile.show.email'|trans }}</dt>
                <dd>
                    <p class="form-control-static">{{ user.email }}</p>
                </dd>
            </dl>
           
        </form>
    </div>
</div>