{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <div class="grid fluid">
        <h1>
            <a href="{{ path('vocabularies_mediadiameters') }}"><i class="icon-arrow-left-3 smaller"></i> </a>
            Media Diameter Details
        </h1>
        <ul class="inline">
            <li>
                <a href="{{ path('vocabularies_mediadiameters_edit', { 'id': entity.id }) }}" class="button primary">
                    Edit
                </a>
            </li>
            {#			<li>{{ form(delete_form) }}</li>#}
        </ul>
        <dl class="horizontal">
            <dt>Name</dt>
            <dd>
                {{ entity.name }}
            </dd>
        </dl>
        <dl class="horizontal">
            <dt>Score</dt>
            <dd>
                {{ entity.score }}
            </dd>
        </dl>
    </div>
{% endblock %}
