{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <h1>Users
        {% if is_granted('ROLE_MANAGER') %}
            <small class="on-right">
                <a href="{{ path('users_new') }}"><i class="icon-plus"></i> New</a>
            </small>
        {% endif %}

    </h1>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {#<div class="button-dropdown place-right" style="margin-left: 12px;">
            <button class="dropdown-toggle" id="org_text">Select Organization</button>
            <ul class="dropdown-menu place-right" data-role="dropdown" id="org_list">
                {% for key,value in organization %}
                    <li><a href="{{ path('organization_filter') }}/{{key}}/{{role_id}}" id="org{{key}}" >{{value}}</a></li>
                    {% endfor %} 
            </ul>
        </div>
        <div class="button-dropdown place-right">
            <button class="dropdown-toggle" id="role_text">Select Role</button>
            <ul class="dropdown-menu place-right" data-role="dropdown" id="role_list">
                <li><a href="{{ path('organization_filter') }}/{{ org_id }}/1" id="role1">Super Admin</a></li>
                <li><a href="{{ path('organization_filter') }}/{{ org_id }}/2" id="role2">Admin</a></li>
                <li><a href="{{ path('organization_filter') }}/{{ org_id }}/3" id="role3">Manager</a></li>
                <li><a href="{{ path('organization_filter') }}/{{ org_id }}/4" id="role4">Cataloger</a></li>
                <li><a href="{{ path('organization_filter') }}/{{ org_id }}/5" id="role5">User</a></li>
            </ul>
        </div>#}
    {% endif %}
    <div class="table-responsive" style="padding-top: 25px;">
        <table class="table bordered tablesorter">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Organizations</th>
                        {% if is_granted('ROLE_MANAGER') %}
                        <th>Action</th>
                        {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for key, entity in entities %}
                    <tr>

                        <td><a href="{{ path('users_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                        <td><a href="{{ path('users_show', { 'id': entity.id }) }}">{{ entity.email }}</a></td>
                        <td>
                            {#							{% set user_role = entity.roles[0]|lower|replace({'_': ' ', 'role': ""})|capitalize %}#}
                            {# {{user_role}}#}
                            {{entity.roles[0]|replace({'_': ' ', 'ROLE': " "})|trim(" ")|capitalize}}
                        </td>
                        <td>
                            {{entity.organizations }}
                        </td>
                        {% if is_granted('ROLE_MANAGER') %}
                            {% if role == 'ROLE_MANAGER' and (entity.roles[0] != 'ROLE_ADMIN') %}
                                <td class="text-center">
                                    {% if entity.enabled == true %}
                                        {% set status = "Active" %}
                                        {% set statusId = "1" %}
                                        {% set class = "icon-checkmark" %}
                                        {% set title = "Active" %}
                                    {% else %}    
                                        {% set status = "Inactive" %}
                                        {% set statusId = "0" %}
                                        {% set class = "icon-blocked" %}
                                        {% set title = "Inactive" %}
                                    {% endif %}
                                    {# <a class="glyphicon glyphicon-list-alt" title="View detail" href="{{ path('users_show', { 'id': entity.id }) }}"></a>&nbsp;#}
                                    <a class="{{class}} small-size" title="{{title}}" href="{{ path('user_changestatus', { 'id': entity.id, 'status': statusId }) }}">
                                        {#                                                                    {{status}}#}
                                    </a> | 
                                    <a class="icon-pencil" title="Edit" href="{{ path('users_edit', { 'id': entity.id }) }}"></a> |
                                    <a class="icon-remove" title="Delete" href="{{ path('users_delete', { 'id': entity.id }) }}"></a>
                                </td>
                            {% elseif role != 'ROLE_MANAGER' %}
                                <td class="text-center">
                                    {% if entity.enabled == true %}
                                        {% set status = "Active" %}
                                        {% set statusId = "1" %}
                                        {% set class = "icon-checkmark" %}
                                        {% set title = "Active" %}
                                    {% else %}    
                                        {% set status = "Inactive" %}
                                        {% set statusId = "0" %}
                                        {% set class = "icon-blocked" %}
                                        {% set title = "Inactive" %}
                                    {% endif %}
                                    {# <a class="glyphicon glyphicon-list-alt" title="View detail" href="{{ path('users_show', { 'id': entity.id }) }}"></a>&nbsp;#}
                                    <a class="{{class}} small-size" title="{{title}}" href="{{ path('user_changestatus', { 'id': entity.id, 'status': statusId }) }}">
                                        {#                                                                    {{status}}#}
                                    </a> | 
                                    <a class="icon-pencil" title="Edit" href="{{ path('users_edit', { 'id': entity.id }) }}"></a> |
                                    <a class="icon-remove" title="Delete" href="{{ path('users_delete', { 'id': entity.id }) }}"></a>
                                </td>
                            {% else %}
                                <td class="text-center"></td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function ()
        {
        {% if is_granted('ROLE_SUPER_ADMIN') %}
                $('.table').dataTable({
                    "bPaginate": false,
                    "aoColumnDefs": [
                        {"bSearchable": false, "aTargets": [0, 1, 4]},{#{"bSearchable": false, "aTargets": [1]},
            {"bSearchable": false, "aTargets": [2]},
            {"bSearchable": false, "aTargets": [4]}#}
                    ],
                    "dom": '<"top"f><"clear">t<"bottom">',
                    "order"
                            : []
                });
                $('#DataTables_Table_0_filter label input').attr('placeholder', 'Organization');
                var html = '<select id="_roles" multiple="multiple">' +
                        '<option value=""></option>' +
                        '<option value="Super Admin">Super Admin</option>' +
                        '<option value="Admin">Admin</option>' +
                        '<option value="Manager">Manager</option>' +
                        '<option value="Cataloger">Cataloger</option>' +
                        '<option value="User">User</option>' +
                        '</select>';
                $('#DataTables_Table_0_filter').append(html);
                $('#_roles').chosen({placeholder_text_multiple: 'Select Roles'});

                $('#_roles').change(function () {
                    var table = $('.table').DataTable();
                    var str = '';
                    if ($('#_roles').val()) {
                        var roles = $('#_roles').val();
                        for(i = 0; i < roles.length; i++){
                            if (str == '') {
                                str = roles[i];
                            } else {
                                str = str + '|' + roles[i];
                            }
                        }
            {#                                table.fnFilter( $(this).val(), 2 );#}
                            table.column(2).search(str, true, false).draw();

                        } else {
                            table.column(2).search('Super Admin|Admin|Manager|Cataloger|User', true, false).draw();
                        }
                    });
        {% else %}   
                    $(".table").tablesorter();
        {% endif %}
        {#            $(".table").tablesorter();#}
        {#  var location = window.location.href;
          var path = location.split('/');
          if ($.isNumeric(path[path.length - 1])) {
              var org_id = path[path.length - 2];
              var role_id = path[path.length - 1];
              var html;
              if (org_id != 0) {
                  $('#org_text').text($('#org' + org_id).text());
                  if (role_id == 0) {
                      html = '<li><a href="{{ path('users') }}">Reset</a></li>';
                      $('#org_list').append(html);
                  } else {
                      html = '<li><a href="{{ path('organization_filter') }}/0/' + role_id + '">Reset</a></li>';
                      $('#org_list').append(html);
                  }
              }
              if (role_id != 0) {
                  $('#role_text').text($('#role' + role_id).text());
                  if (org_id == 0) {
                      html = '<li><a href="{{ path('users') }}">Reset</a></li>';
                      $('#role_list').append(html);
                  } else {
                      html = '<li><a href="{{ path('organization_filter') }}/' + org_id + '/0">Reset</a></li>';
                      $('#role_list').append(html);
                  }
              }
          }#}
              }
              );
    </script>
{% endblock body %}
