{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
	<h1>Users
		{% if is_granted('ROLE_MANAGER') %}
			<small class="on-right">
				<a href="{{ path('users_new') }}"><i class="icon-plus"></i> New</a>
			</small>
		{% endif %}
	</h1>

	<div class="table-responsive">
		<table class="table bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Roles</th>
					<th>Organizations</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for entity in entities %}
					<tr>

						<td><a href="{{ path('users_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
						<td><a href="{{ path('users_show', { 'id': entity.id }) }}">{{ entity.email }}</a></td>
						<td>
							{% for role in entity.roles %}
								{{ role }}
							{% endfor %}
						</td>
						<td>
							{{entity.organizations }}
						</td>

						<td class="text-center">
							{# <a class="glyphicon glyphicon-list-alt" title="View detail" href="{{ path('users_show', { 'id': entity.id }) }}"></a>&nbsp;#}
							<a class="icon-pencil" title="Edit" href="{{ path('users_edit', { 'id': entity.id }) }}"></a> |
							<a class="icon-remove" title="Delete" href="{{ path('users_delete', { 'id': entity.id }) }}"></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock body %}
