{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <h1>Users
        {% if is_granted('ROLE_MANAGER') %}
            <small class="on-right">
                <a href="{{ path('users_new') }}"><i class="icon-plus"></i> New</a>
            </small>
        {% endif %}

    </h1>
    <div class="table-responsive" style="padding-top: 25px;">
        <table class="table bordered tablesorter">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Organizations</th>
                        {% if is_granted('ROLE_MANAGER') %}
                        <th>Action</th>
                        {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for key, entity in entities %}
                    <tr>

                        <td><a href="{{ path('users_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                        <td><a href="{{ path('users_show', { 'id': entity.id }) }}">{{ entity.email }}</a></td>
                        <td>
                            {#							{% set user_role = entity.roles[0]|lower|replace({'_': ' ', 'role': ""})|capitalize %}#}
                            {# {{user_role}}#}
                            {{entity.roles[0]|replace({'_': ' ', 'ROLE': " "})|trim(" ")|capitalize}}
                        </td>
                        <td>
                            {{entity.organizations }}
                        </td>
                        {% if is_granted('ROLE_MANAGER') %}
                            {% if role == 'ROLE_MANAGER' and (entity.roles[0] != 'ROLE_ADMIN') %}
                                <td class="text-center">
                                    {% if entity.enabled == true %}
                                        {% set status = "Active" %}
                                        {% set statusId = "1" %}
                                        {% set class = "icon-checkmark" %}
                                        {% set title = "Active" %}
                                    {% else %}    
                                        {% set status = "Inactive" %}
                                        {% set statusId = "0" %}
                                        {% set class = "icon-blocked" %}
                                        {% set title = "Inactive" %}
                                    {% endif %}
                                    {# <a class="glyphicon glyphicon-list-alt" title="View detail" href="{{ path('users_show', { 'id': entity.id }) }}"></a>&nbsp;#}
                                    <a class="{{class}} small-size" title="{{title}}" href="{{ path('user_changestatus', { 'id': entity.id, 'status': statusId }) }}">
                                        {#                                                                    {{status}}#}
                                    </a> | 
                                    <a class="icon-pencil" title="Edit" href="{{ path('users_edit', { 'id': entity.id }) }}"></a> |
                                    <a class="icon-remove" title="Delete" href="{{ path('users_delete', { 'id': entity.id }) }}"></a>
                                </td>
                            {% elseif role != 'ROLE_MANAGER' %}
                                <td class="text-center">
                                    {% if entity.enabled == true %}
                                        {% set status = "Active" %}
                                        {% set statusId = "1" %}
                                        {% set class = "icon-checkmark" %}
                                        {% set title = "Active" %}
                                    {% else %}    
                                        {% set status = "Inactive" %}
                                        {% set statusId = "0" %}
                                        {% set class = "icon-blocked" %}
                                        {% set title = "Inactive" %}
                                    {% endif %}
                                    {# <a class="glyphicon glyphicon-list-alt" title="View detail" href="{{ path('users_show', { 'id': entity.id }) }}"></a>&nbsp;#}
                                    <a class="{{class}} small-size" title="{{title}}" href="{{ path('user_changestatus', { 'id': entity.id, 'status': statusId }) }}">
                                        {#                                                                    {{status}}#}
                                    </a> | 
                                    <a class="icon-pencil" title="Edit" href="{{ path('users_edit', { 'id': entity.id }) }}"></a> |
                                    <a class="icon-remove" title="Delete" href="{{ path('users_delete', { 'id': entity.id }) }}"></a>
                                </td>
                            {% else %}
                                <td class="text-center"></td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function ()
        {
        {% if is_granted('ROLE_SUPER_ADMIN') %}
                $('.table').dataTable({
                    "aoColumnDefs": [
                        {"bSearchable": false, "aTargets": [0, 1, 4]},
                    ],
                    "dom": '<"top"p><"clear">t<"bottom">',
                    "order": []
                });
                var field = '<input type="text" placeholder="Search organization" id="_organization" style="height: 29px;">';
                $('.top').append(field);
                var html = '<select id="_roles" multiple="multiple" style="min-width: 200px"> ' +
                        '<option value=""></option>' +
                        '<option value="Super admin">Super Admin</option>' +
                        '<option value="Admin">Admin</option>' +
                        '<option value="Manager">Manager</option>' +
                        '<option value="Cataloger">Cataloger</option>' +
                        '<option value="User">User</option>' +
                        '</select>';
                $('.top').append(html);
                $('#_roles').chosen({placeholder_text_multiple: 'Select Roles'});
                $('#_roles_chosen').removeAttr( "style" );
                var table = $('.table').DataTable();
                $('#_roles').change(function () {
                    var str = '';
                    if ($('#_roles').val()) {
                        var roles = $('#_roles').val();
                        for (i = 0; i < roles.length; i++) {
                            if (str == '') {
                                str = roles[i];
                            } else {
                                str = str + '|' + roles[i];
                            }
                        }
            {#                                table.fnFilter( $(this).val(), 2 );#}
                            table.column(2).search(str, true, false, false).draw();

                        } else {
                            table.column(2).search('Super admin|Admin|Manager|Cataloger|User', true, false).draw();
                        }
                    });

                    $("#_organization").keyup(function () {                        
                        table.column(3).search($("#_organization").val(), true, false).draw();
                    });
        {% else %}   
                    $(".table").tablesorter();
        {% endif %}
              }
              );
    </script>
{% endblock body %}
