{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <div class="grid fluid">
        <h1>
            <a href="{{ path('vocabularies_slides') }}"><i class="icon-arrow-left-3 smaller"></i> </a>
            Edit Slide
        </h1>
        {{ form_start(edit_form, {attr: {class:'form-horizontal'} }) }}
        <fieldset>
            {{ form_errors(edit_form) }}
            <br />
            <label>Name</label>
            <div class="input-control text" data-role="input-control">
                {{ form_widget(edit_form.name, {attr: {class:'size4'} }) }}
                {% for errorItem in edit_form.name.vars.errors %}
                    <span class="has-error text-danger" for="{{ edit_form.name.vars.id }}">{{ errorItem.message }}</span>
                {% endfor %}
            </div>
             <label>Score</label>
            <div class="input-control text" data-role="input-control">
                {{ form_widget(edit_form.score, {attr: {class:'size4'} }) }}
                {% for errorItem in edit_form.score.vars.errors %}
                    <span class="has-error text-danger" for="{{ edit_form.score.vars.id }}">{{ errorItem.message }}</span>
                {% endfor %}
            </div>
            {{ form_widget(edit_form.submit, {attr: {class:'button primary'} }) }}
            or
            <a class="button"   href="{{ path('vocabularies_slides') }}">Cancel</a>
        </fieldset>
        {{ form_end(edit_form) }}

        {#{{ form(delete_form) }}#}
    </div>
{% endblock %}
