{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <h1>Slides
        <small class="on-right">
            <a href="{{ path('vocabularies_slides_new') }}"><i class="icon-plus"></i> New</a>
        </small>
    </h1>
    <div class="flash-success text-success" id="message">
        Order updated succesfully.
    </div>
    <div class="table-responsive">
        <table class="table bordered sortable hovered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                   <tr class="sortTr" id="{{entity.id}}">
                        <td><i class="icon-menu on-left"></i>&nbsp;<a href="{{ path('vocabularies_slides_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.name }}</td>
                        <td>{{ entity.score }}</td>
                        <td class="text-center">
                            <a class="icon-pencil" title="Edit" href="{{ path('vocabularies_slides_edit', { 'id': entity.id }) }}"></a> |
                            <a class="icon-remove" onclick="return confirm('Are you sure you want to delete selected term?')" title="Delete" href="{{ path('vocabularies_slides_delete', { 'id': entity.id }) }}"></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <p><input type="button" id="updatesettings" class="button primary" onclick="updateVocabSettings();" value="Update" /></p>
    </div>
    <script type="text/javascript">
        var path = "{{ path('slides_update_order') }}";
        $('#message').hide();
        function updateVocabSettings() {
            // each loop to get ids
            i = 0;
            ids = [];
            $('.sortTr').each(function (index, id)
            {
                ids[i] = parseInt($(this).attr('id'));
                i++;

            });
            $.ajax({
                type: 'POST',
                url: path,
                data: {
                    slides_ids: ids
                },
                dataType: 'json',
                success: function (response) {
                    console.log('here');
                    $('#message').show();
                }
            });
        }
    </script>
{% endblock %}
