{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
<div class="grid fluid">
    <h1>
        <a href="{{ path('organizations') }}"><i class="icon-arrow-left-3 smaller"></i> </a>
        Edit Organization
    </h1>
		{{ form_start(edit_form) }}
    <fieldset>
			{{ form_errors(edit_form) }}
            <br />

            <label>Name</label>
            <div class="input-control text" data-role="input-control">
				{{ form_widget(edit_form.name, {attr: {class:'size4'} }) }}
				{% for errorItem in edit_form.name.vars.errors %}
                    <span class="has-error text-danger" for="{{ edit_form.name.vars.id }}">{{ errorItem.message }}</span>
				{% endfor %}
                </div>


                <label>Department Name</label>
                <div class="input-control text" data-role="input-control">
				{{ form_widget(edit_form.department_name, {attr: {class:'size4'} }) }}
				{% for errorItem in edit_form.department_name.vars.errors %}
                        <span class="has-error text-danger" for="{{ edit_form.department_name.vars.id }}">{{ errorItem.message }}</span>
				{% endfor %}
                    </div>


                    <label>Address</label>
                    <div class="input-control text" data-role="input-control">
				{{ form_widget(edit_form.address, {attr: {class:'size4'} }) }}
				{% for errorItem in edit_form.address.vars.errors %}
                            <span class="has-error text-danger" for="{{ edit_form.address.vars.id }}">{{ errorItem.message }}</span>
				{% endfor %}
                        </div>


                        <label>Contact Person Name</label>
                        <div class="input-control text" data-role="input-control">
				{{ form_widget(edit_form.contact_person_name, {attr: {class:'size4'} }) }}
				{% for errorItem in edit_form.contact_person_name.vars.errors %}
                                <span class="has-error text-danger" for="{{ edit_form.contact_person_name.vars.id }}">{{ errorItem.message }}</span>
				{% endfor %}
                            </div>


                            <label>Contact Person Email</label>
                            <div class="input-control text" data-role="input-control">
				{{ form_widget(edit_form.contact_person_email, {attr: {class:'size4'} }) }}
				{% for errorItem in edit_form.contact_person_email.vars.errors %}
                                    <span class="has-error text-danger" for="{{ edit_form.contact_person_email.vars.id }}">{{ errorItem.message }}</span>
				{% endfor %}
                                </div>


                                <label>Contact Person Phone#</label>
                                <div class="input-control text" data-role="input-control">
				{{ form_widget(edit_form.contact_person_phone, {attr: {class:'size4'} }) }}
				{% for errorItem in edit_form.contact_person_phone.vars.errors %}
                                        <span class="has-error text-danger" for="{{ edit_form.contact_person_phone.vars.id }}">{{ errorItem.message }}</span>
				{% endfor %}
                                    </div>


                                    <label class="{% if is_granted('ROLE_SUPER_ADMIN') %} {{''}} {% else %} {{'hide'}} {% endif %}" style="width: 100px;float: left;margin-bottom: 15px;">Is Paid</label>
                                    <div class="input-control {% if is_granted('ROLE_SUPER_ADMIN') %} {{''}} {% else %} {{'hide'}} {% endif %}" data-role="input-control">
				{{ form_widget(edit_form.isPaid) }}
                                        </div>


                                        <div class="clearfix"></div>
			{{ form_widget(edit_form.submit, {attr: {class:'button primary'} }) }}
                                        or
                                        <a class="button"   href="{{ path('organizations') }}">Cancel</a>



                                    </fieldset>
		{#    {{ form(edit_form) }}#}
		{{ form_end(edit_form) }}
                                </div>
{% endblock %}
