{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <h1>Organizations
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <small class="on-right">
                <a href="{{ path('organizations_new') }}"><i class="icon-plus"></i> New</a>
            </small>
        {% endif %}
    </h1>
    <div class="table-responsive">
        <table class="table bordered tablesorter">
            <thead>
                <tr>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th style="width: 45px;">id</th>
                        {% endif %}
                    <th style="width: 150px;">Name</th>
                    <th style="width: 200px;">Department name</th>
                    <th style="width: 200px;">Address</th>
                    <th style="width: 270px;">Contact person</th>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th style="width: 120px;"> No. of records</th>
                        {% endif %}
                        {% if is_granted('ROLE_MANAGER') %}
                        <th>Action</th>
                        {% endif %}
                </tr> 
            </thead>             
            <tbody> 
                {% for entity in entities %} 
                    <tr>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <th>{{entity.id}}</th>
                            {% endif %} 
                        <td><a href="{{ path('organizations_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                        <td>{{ entity.departmentName }}</td>
                        <td>{{ entity.address }}</td>
                        <td><b>Name:</b> {{ entity.contactPersonName }}<br/><b>Email:</b> {{ entity.contactPersonEmail }}<br/><b>Phone:</b> {{ entity.contactPersonPhone }}</td>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td>  {{record_count[entity.id]}}</td>
                        {% endif %}
                        {% if is_granted('ROLE_MANAGER') %}
                            <td>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    {% if entity.status == true %}
                                        {% set status = "Active" %}
                                        {% set statusId = "1" %}
                                        {% set class = "icon-checkmark" %}
                                        {% set title = "Active" %}
                                    {% else %}    
                                        {% set status = "Inactive" %}
                                        {% set statusId = "0" %}
                                        {% set class = "icon-blocked" %}
                                        {% set title = "Inactive" %}
                                    {% endif %}
                                    <a class="{{class}} small-size" title="{{title}}" href="{{ path('organization_changestatus', { 'id': entity.id, 'status': statusId }) }}">      
                                    </a> |
                                {% endif %}
                                <a title="Edit" href="{{ path('organizations_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i></a>
                                {% if is_granted('ROLE_SUPER_ADMIN') %} | 
                                    <a class="icon-remove" title="Delete" href="{{ path('organizations_delete', { 'id': entity.id }) }}"></a> | <a class="icon-eye" target="_blank" title="Show Charge Report" href="{{ path('monthly_report_org', { 'organizationId': entity.id }) }}"></a>
                                {% endif %}


                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script  type="text/javascript">
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            $(document).ready(function () {
                $(".table").tablesorter();
            });
        {% endif %}
    </script> 
{% endblock body %}
