{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <h1>Organizations
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <small class="on-right">
                <a href="{{ path('organizations_new') }}"><i class="icon-plus"></i> New</a>
            </small>
        {% endif %}
    </h1>
    <div class="flash-success text-success" id="message">
        Order updated succesfully.
    </div>
    <div class="table-responsive" {% if is_granted('ROLE_SUPER_ADMIN') %}style="width: 108%;"{% endif %}>
        <table class="table bordered  {% if is_granted('ROLE_SUPER_ADMIN') %}sortable hovered{% endif %}">
            <thead>
                <tr>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th>id</th>
                        {% endif %}
                    <th>Name</th>
                    <th>Department name</th>
                    <th>Address</th>
                    <th>Contact person name</th>
                    <th>Contact person email</th>
                    <th>Contact person phone</th>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <th> No. of records</th>
                        {% endif %}
                        {% if is_granted('ROLE_MANAGER') %}
                        <th>Action</th>
                        {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr class="sortTr" id="{{entity.id}}">
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <th><i class="icon-menu on-left"></i>&nbsp;{{entity.id}}</th>
                            {% endif %}
                        <td><a href="{{ path('organizations_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                        <td>{{ entity.departmentname }}</td>
                        <td>{{ entity.address }}</td>
                        <td>{{ entity.contactpersonname }}</td>
                        <td>{{ entity.contactpersonemail }}</td>
                        <td>{{ entity.contactpersonphone }}</td>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <td>    {{record_count[entity.id]}}</td>
                        {% endif %}
                        {% if is_granted('ROLE_MANAGER') %}
                            <td>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    {% if entity.status == true %}
                                        {% set status = "Active" %}
                                        {% set statusId = "1" %}
                                        {% set class = "icon-checkmark" %}
                                        {% set title = "Active" %}
                                    {% else %}    
                                        {% set status = "Inactive" %}
                                        {% set statusId = "0" %}
                                        {% set class = "icon-blocked" %}
                                        {% set title = "Inactive" %}
                                    {% endif %}
                                    <a class="{{class}} small-size" title="{{title}}" href="{{ path('organization_changestatus', { 'id': entity.id, 'status': statusId }) }}">      
                                    </a> |
                                {% endif %}
                                <a title="Edit" href="{{ path('organizations_edit', { 'id': entity.id }) }}"><i class="icon-pencil"></i></a>
                                {% if is_granted('ROLE_SUPER_ADMIN') %} | 
                                    <a class="icon-remove" title="Delete" href="{{ path('organizations_delete', { 'id': entity.id }) }}"></a>
                                {% endif %}


                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <p><input type="button" id="updatesettings" class="button primary" onclick="updateVocabSettings();" value="Update" /></p>
            {% endif %}
    </div>

    <script type="text/javascript">
        var path = "{{ path('organization_update_order') }}";
        $('#message').hide();
        function updateVocabSettings() {
            // each loop to get ids
            i = 0;
            ids = [];
            $('.sortTr').each(function (index, id)
            {
                ids[i] = parseInt($(this).attr('id'));
                i++;

            });
            $.ajax({
                type: 'POST',
                url: path,
                data: {
                    org_ids: ids
                },
                dataType: 'json',
                success: function (response) {
                    $('#message').show();
                    window.scrollTo(0, 0);
                }
            });
        }
    </script>
{% endblock body %}
