{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <h1>Track Types
        <small class="on-right">
            <a href="{{ path('vocabularies_tracktypes_new') }}"><i class="icon-plus"></i> New</a>
        </small>
    </h1>
    <div class="table-responsive">
        <table class="table bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('vocabularies_tracktypes_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.name }}</td>
                        <td>{{ entity.score }}</td>
                        <td class="text-center">
                            <a class="icon-pencil" title="Edit" href="{{ path('vocabularies_tracktypes_edit', { 'id': entity.id }) }}"></a> |
                            <a class="icon-remove" title="Delete" href="{{ path('vocabularies_tracktypes_delete', { 'id': entity.id }) }}"></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
