{% extends 'FOSUserBundle::layout.html.twig' %}

{% block body -%}


    <h1>Help Guide
        {% if is_granted('ROLE_MANAGER') %}
            <small class="on-right">
                <a href="{{ path('help_guide_new') }}"><i class="icon-plus"></i> New</a>
            </small>
        {% endif %}
    </h1>
    <div class="table-responsive">
        <table class="table bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Slug</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('help_guide_show', { 'slug': entity.slug }) }}">{{ entity.title }}</a></td>
                        <td>/help/{{ entity.slug }}</td>
                        <td><a class="icon-pencil" title="Edit" href="{{ path('help_guide_edit', { 'id': entity.id }) }}"></a> |
                            <a class="icon-remove" onclick="return confirm('Are you sure you want to delete selected term?')" title="Delete" href="{{ path('help_guide_delete', { 'id': entity.id }) }}"></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}