{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <div class="grid fluid">
        <h1>
            <a href="{{ path('help_guide') }}"><i class="icon-arrow-left-3 smaller"></i> </a>
            New Help Guide
        </h1>

        {{ form_start(form, {attr: {class:'form-horizontal'} }) }}
        <fieldset>
            {{ form_errors(form) }}
            <br />
            <label>Title</label>
            <div class="input-control text" data-role="input-control">
                {{ form_widget(form.title, {attr: {class:'size4'} }) }}
                {% for errorItem in form.title.vars.errors %}
                    <span class="has-error text-danger" for="{{ form.title.vars.id }}">{{ errorItem.message }}</span>
                {% endfor %}
            </div>
            <label>Slug</label>
            <div class="input-control select" data-role="input-control">
                /help/{{ form_widget(form.slug, {attr: {class:'size4'} }) }}
                {% for errorItem in form.slug.vars.errors %}
                    <span id='formt_error' class="has-error text-danger" for="{{ form.slug.vars.id }}">{{ errorItem.message }}</span>
                {% endfor %}
            </div>
            <label>Description</label>
            <div class="input-control select" data-role="input-control">
                {{ form_widget(form.description, {attr: {class:'size4'} }) }}

                {% for errorItem in form.description.vars.errors %}
                    <span class="has-error text-danger" for="{{ form.description.vars.id }}">{{ errorItem.message }}</span>
                {% endfor %}
            </div>
            <div class="clearfix"></div>
            <br/>
            <div>
                {{ form_widget(form.submit, {attr: {class:'button primary'} }) }}
                or
                <a class="button" href="{{ path('help_guide') }}">Cancel</a>
            </div>
        </fieldset>
        {{ form_end(form) }}
    </div>

    <script type="text/javascript">
        
         tinymce.init({
             selector: "textarea",
             menubar: false,
             height: 250,
             theme: "modern",
             skin: 'light',
             statusbar: false,
             plugins: [
                 "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                 "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                 "jbimages save table contextmenu directionality emoticons template paste"
             ],
             toolbar1: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | jbimages | preview",
             image_advtab: true,
             });
            $(document).ready(function () {
                $('.formats_dd').chosen();
            });
    </script>
{% endblock %}
