{% trans_default_domain 'FOSUserBundle' %}

<div class="grid fluid">
<h1>
		<a href="{{ path('fos_user_profile_show') }}"><i class="icon-arrow-left-3 fg-darker smaller"></i> </a>
		Change Password
	</h1>
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">

    {{ form_start(form) }}
    <fieldset>
    {{ form_errors(form) }}
        <label>Current Password</label>
    <div class="input-control text" data-role="input-control">
            {{ form_widget(form.current_password, {attr: {class:'size4'} }) }}
            {% for errorItem in form.current_password.vars.errors %}
                <span class="has-error text-alert" for="{{ form.current_password.vars.id }}">{{ errorItem.message }}</span>
            {% endfor %}
    </div>
        <label>New Password</label>
    <div class="input-control text" data-role="input-control">
            {{ form_widget(form.plainPassword.first, {attr: {class:'size4'} }) }}
            {% for errorItem in form.plainPassword.first.vars.errors %}
                <span class="has-error text-alert" for="{{ form.plainPassword.first.vars.id }}">{{ errorItem.message }}</span>
            {% endfor %}
    </div>
        <label>Confirm Password</label>
    <div class="input-control text" data-role="input-control">
            {{ form_widget(form.plainPassword.second, {attr: {class:'size4'} }) }}
            {% for errorItem in form.plainPassword.second.vars.errors %}
                <span class="has-error text-alert" for="{{ form.plainPassword.second.vars.id }}">{{ errorItem.message }}</span>
            {% endfor %}
    </div>
    <div class="clearfix"></div>
    <br />    
    <button class="button primary"  type="submit" id="_submit" name="_submit">{{ 'change_password.submit'|trans }}</button>
        or
        <a class="button"   href="{{ path('fos_user_profile_show') }}">Cancel</a>        
    </fieldset>
    {{ form_end(form) }}
</form>
</div>