{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    <h3 class="form-signin-heading">Change Pasword</h3>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label no-left-padding">Current Password</label>
        <div class="col-sm-4">
            {{ form_widget(form.current_password, {attr: {class:'form-control'} }) }}
            {% for errorItem in form.current_password.vars.errors %}
                <span class="has-error text-danger" for="{{ form.current_password.vars.id }}">{{ errorItem.message }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label no-left-padding">New Password</label>
        <div class="col-sm-4">
            {{ form_widget(form.plainPassword.first, {attr: {class:'form-control'} }) }}
            {% for errorItem in form.plainPassword.first.vars.errors %}
                <span class="has-error text-danger" for="{{ form.plainPassword.first.vars.id }}">{{ errorItem.message }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label no-left-padding">Confirm Password</label>
        <div class="col-sm-4">
            {{ form_widget(form.plainPassword.second, {attr: {class:'form-control'} }) }}
            {% for errorItem in form.plainPassword.second.vars.errors %}
                <span class="has-error text-danger" for="{{ form.plainPassword.second.vars.id }}">{{ errorItem.message }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-group form-group-sm">
        <div class="col-xm-2 pull-left">
            <button class="btn btn-lg btn-primary btn-block"  type="submit" id="_submit" name="_submit">{{ 'change_password.submit'|trans }}</button>
        </div>    
    </div>
    {{ form_end(form) }}
</form>
