{% extends 'FOSUserBundle::layout.html.twig' %}

{% block body -%}
    <h1><div class="place-left">Records list</div>
        <ul class="element-menu place-left recordDD" style="">
            <li><small class="on-right">
                    <a class="dropdown-toggle" href="#"><i class="icon-plus"></i> New</a>
                    <ul class="dropdown-menu dark content" data-role="dropdown">
                        <li>
                            <a class="" href="{{ path('record_new') }}">Audio</a>
                            <a class="" href="{{ path('record_video_new') }}">Video</a>
                            <a class="" href="{{ path('record_film_new') }}">Film</a>
                        </li>
                    </ul>
                </small></li>
        </ul>
    </h1>
    <div class="clearfix"></div>
    <br />
    <table class="table striped hovered bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Media Type</th>
                <th>Format</th>
                <th>Unique Id</th>
                <th>Project</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                {% if entity.mediaType == 'Audio' %}
                    {% set recId = entity.audioRecord.id %}
                    {% set eidtPath = 'record_edit' %}
                {% elseif entity.mediaType == 'Video' %}
                    {% set recId = entity.videoRecord.id %}
                    {% set eidtPath = 'record_video_edit' %}
                {% else %}
                    {% set recId = entity.filmRecord.id %}
                    {% set eidtPath = 'record_film_edit' %}
                {% endif %}
                <tr>
                    <td><a href="{{ path('record_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.mediaType }}</td>
                    <td>{{ entity.format }}</td>
                    <td>{{ entity.uniqueId }}</td>
                    <td>{{ entity.project }}</td>
                    <td class="text-center"><a class="icon-grid-view" href="#" title="View"></a>
                        &nbsp;|&nbsp; <a class="icon-pencil" href="{{ path( eidtPath , { 'id': recId }) }}" title="Edit"></a>
                        &nbsp;|&nbsp; <a class="icon-remove" href="#" title="Delete"></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
