{% if isAjax == false %}
{% extends 'FOSUserBundle::layout.html.twig' %}

{% block body -%}
	<div class="grid">
{% endif %}
		<div class="row" id="recordsContainer">
			<div class="span3">
				{{ include('ApplicationFrontBundle::Records/_facets.html.twig', { 'facets': facets }) }}
			</div>
			<div class="span12">
				<div class="button-dropdown place-left">
					<button class="dropdown-toggle">Operations</button>
					<ul class="dropdown-menu" data-role="dropdown">

						<li>
							<a class="dropdown-toggle" href="#">Add Record</a>
							<ul class="dropdown-menu" data-role="dropdown">
								<li><a  href="{{ path('record_new') }}">Audio</a></li>
								<li> <a  href="{{ path('record_film_new') }}">Film</a></li>
								<li><a  href="{{ path('record_video_new') }}">Video</a></li>
							</ul>
						</li>


					</ul>
				</div>



				<div>
					<table class="table hovered bordered" id="records">
						<thead>
							<tr>
								{% for column, value in columns %}
									{% if column == 'checkbox_Col' %}
										<th id="{{value}}"><input type="checkbox" name="selectAll" /></th>
										{% else %}
										<th id="{{value}}">{{ column|replace({'_': ' '}) }}</th>
										{% endif %}
									{% endfor %}
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
				</div>

				{% block view_javascripts %}
					<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.js"></script>
					<script type="text/javascript" src="{{ asset('js/records.js') }}"></script>

					<script type="text/javascript">
						$(window).load(function () {
							var record = new Records();
							record.setAjaxSource('{{ path('record_dataTable') }}');
							record.initDataTable();
						});


					</script>
				{% endblock %}

			</div>
		</div>
{% if isAjax == false %}
	</div>


	{#    {{ dump(app.session.get('columnOrder'))}}#}

{% endblock %}
{% endif %}
