<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <title>{% block title %}AVCC - AVPreserve{% endblock %}</title>
			<script src="{{ asset('js/jquery.min.js') }}"></script>
        <!-- Bootstrap core CSS -->
		{% block stylesheets %}
			{#						<link href="{{ asset('css/bootstrap.css') }}" type="text/css" rel="stylesheet" />#}
			<link href="{{ asset('css/metro-bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
			<link href="{{ asset('css/metro-bootstrap-responsive.min.css') }}" type="text/css" rel="stylesheet" />
			<link href="{{ asset('css/iconFont.min.css') }}" type="text/css" rel="stylesheet" />
			<link href="{{ asset('css/chosen.css') }}" type="text/css" rel="stylesheet" />
			<!-- Custom styles for this template -->
			<link href="{{ asset('bundles/applicationfront/css/style.css') }}" rel="stylesheet">
		{% endblock %}



    </head>

    <body class="metro">
		<header class="bg-dark nav-container">
			<div class="navigation-bar dark fixed-top shadow">
				<div class="navigation-bar-content container">
					<a href="{{ path('_welcome')}}" class="element"> AVCC </a>
					<span class="element-divider"></span>
					{% if app.user %}
						<a class="element1 pull-menu" href="#"></a>
						<ul class="element-menu place-right" style="">
							<li>
								<a class="dropdown-toggle" href="#">{{ app.user.name}}&nbsp;</a>
								<ul class="dropdown-menu dark" data-role="dropdown">
									<li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
									<li><a href="{{ path('fos_user_change_password') }}">Change Password</a></li>
									<li class="divider"></li>
									<li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
								</ul>
							</li>
						</ul>
						<a class="element1 pull-menu" href="#"></a>
						<ul class="element-menu place-right" style="">
							<li>
								<a class="dropdown-toggle" href="#"><span class="icon-cog"></span> Settings
								</a>
								<ul class="dropdown-menu dark" data-role="dropdown">
									<li><a href="{{ path('users') }}">Users</a></li>
									<li><a href="{{ path('organizations') }}">Organization</a></li>

								</ul>
							</li>
						</ul>
					{% endif %}
				</div>
			</div>
		</header>

		<div class="container" style="margin-top:20px;margin-bottom:20px;">
			{% for type, messages in app.session.flashbag.all() %}
				{% for message in messages %}
{#                                     {% if type == 'success' %}#}
					<div class="flash-{{ type }} text-success">
                                            {{ message }}
					</div>
{#                                     {% endif %}  #}
				{% endfor %}
			{% endfor %}
			{% block body %}
            {% endblock body %}


        </div> <!-- /container -->

		{% block javascripts %}
			<script src="{{ asset('js/jquery.min.js') }}"></script>
			<script src="{{ asset('js/jquery.widget.min.js') }}"></script>
			<script src="{{ asset('js/jquery.mousewheel.js') }}"></script>
			<script src="{{ asset('js/metro.min.js') }}"></script>
			<script src="{{ asset('js/chosen.jquery.js') }}"></script>


		{% endblock %}


    </body>
</html>
