{% trans_default_domain 'FOSUserBundle' %}

<div class="login-body">
	<h2>Reset Password</h2>
	<form class="form-signin" role="form" action="{{ path("fos_user_resetting_send_email") }}" method="POST">

		{% if invalid_username is defined %}
			<span class="has-error text-danger" style="margin-bottom: 10px;display:block;">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</span>
		{% endif %}
		<div class="form-group">
			<div class="email controls">
				<input type="text"id="username" name="username" placeholder="{{ 'resetting.request.username'|trans }}"  class="form-control" data-rule-required="true" data-rule-email="true" required="required" autofocus> 
			</div>
		</div>

		<div class="submit">

			<input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-primary">
			<a href="{{ path('_welcome') }}" style="line-height: 26px;">
				<span>Back to Login</span>
			</a>
		</div>
	</form>
	<div class="forget">

		<a href="{{ path('fos_user_registration_register') }}">
			<span>Don't have an account. Sign up now.</span>
		</a>
	</div>
</div>