{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="form-signin">
    <h2 class="form-signin-heading">Reset Password</h2>
    {{ form_widget(form.plainPassword, { 'attr':{'class': 'form-control','placeholder':'Password'},'label_attr':{'style': 'visibility:hidden;display:none'} })}}
    {{ form_widget(form.plainPassword.second, { 'attr':{'class': 'form-control','placeholder':'Confirm Password'},'label_attr':{'style': 'visibility:hidden;display:none'} }) }}
    <div>
        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" class="btn btn-m btn-primary btn-block"  />
    </div>
</form>
