{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="form-signin form-horizontal">
    <h2 class="form-signin-heading">Reset Password</h2>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group form-group-sm">
        <div class="col-xm-2">
          {{ form_widget(form.plainPassword.first, { 'attr':{'class': 'form-control','placeholder':'Password'},'label_attr':{'style': 'visibility:hidden;display:none'} })}}
            {% for errorItem in form.plainPassword.first.vars.errors %}
            <span class="has-error text-danger" for="{{ form.plainPassword.first.vars.id }}">{{ errorItem.message }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-group form-group-sm">
        <div class="col-xm-2">
          {{ form_widget(form.plainPassword.second, { 'attr':{'class': 'form-control','placeholder':'Confirm Password'},'label_attr':{'style': 'visibility:hidden;display:none'} }) }}
            {% for errorItem in form.plainPassword.second.vars.errors %}
            <span class="has-error text-danger" for="{{ form.plainPassword.second.vars.id }}">{{ errorItem.message }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-group form-group-sm">
        <div class="col-xm-2"  style="margin-left:0;">
            <button class="btn btn-lm btn-primary btn-block"  type="submit" id="_submit" name="_submit">{{ 'resetting.reset.submit'|trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}
</form>
