{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <div class="grid fluid">
        <h1>
            <a href="{{ path('vocabularies_bases') }}"><i class="icon-arrow-left-3 smaller"></i> </a>
            New Base
        </h1>

        {{ form_start(form, {attr: {class:'form-horizontal'} }) }}
        <fieldset>
            {{ form_errors(form) }}
            <br />
            <label>Name</label>
            <div class="input-control text" data-role="input-control">
                {{ form_widget(form.name, {attr: {class:'size4'} }) }}
                {% for errorItem in form.name.vars.errors %}
                    <span class="has-error text-danger" for="{{ form.name.vars.id }}">{{ errorItem.message }}</span>
                {% endfor %}
            </div>
            <label>Formats *</label>
            <div class="input-control select" data-role="input-control">
                {{ form_widget(form.baseFormat, {attr: {class:'size4 formats_dd',id:'formats',multiple:'multiple',name:'formats[]'} }) }}
                {% for errorItem in form.baseFormat.vars.errors %}
                    <span id='formt_error' class="has-error text-danger" for="{{ form.baseFormat.vars.id }}">{{ errorItem.message }}</span>
                {% endfor %}
            </div>
            <label>Score</label>
            <div class="input-control text" data-role="input-control">
                {{ form_widget(form.score, {attr: {class:'size4'} }) }}
                {% for errorItem in form.score.vars.errors %}
                    <span class="has-error text-danger" for="{{ form.score.vars.id }}">{{ errorItem.message }}</span>
                {% endfor %}
            </div>
            {{ form_widget(form.submit, {attr: {class:'button primary'} }) }}
            or
            <a class="button"   href="{{ path('vocabularies_bases') }}">Cancel</a>
        </fieldset>
        {{ form_end(form) }}
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formats_dd').chosen();
        });
    </script>
{% endblock %}
