{% extends 'FOSUserBundle::layout.html.twig' %}

{% block body -%}


    <h1>Projects
        {% if is_granted('ROLE_MANAGER') %}
            <small class="on-right">
                <a href="{{ path('projects_new') }}"><i class="icon-plus"></i> New</a>
            </small>
        {% endif %}
    </h1>

    <div class="table-responsive">
        <table class="table bordered tablesorter" id="projectsTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Organization</th>
                    <th>Created On</th>
                    <th>Updated On</th>
                        {% if is_granted('ROLE_MANAGER') %}
                        <th>Action</th>
                        {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>
                            {% if is_granted('ROLE_MANAGER') %}
                                <a href="{{ path('projects_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                            {% else %}
                                {{ entity.name }}
                            {% endif %}

                        <td>{{ entity.organization }}</td>
                        <td>{% if entity.createdOn %}{{ entity.createdOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if entity.updatedOn %}{{ entity.updatedOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                        {% if is_granted('ROLE_MANAGER') %}
                            <td>
                                <a title="Edit" class="icon-pencil" href="{{ path('projects_edit', { 'id': entity.id }) }}"></a>
                                {% if is_granted('ROLE_SUPER_ADMIN') %} | 
                                    <a class="icon-remove"  onclick="return confirm('Are you sure you want to delete selected project?')" title="Delete" href="{{ path('projects_delete', { 'id': entity.id }) }}"></a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>









    <script type="text/javascript">
        $(document).ready(function () {
            $("#projectsTable").tablesorter();
        });
    </script>
{% endblock %}
