{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <h1>Reports
    </h1>
    <br/>
    <div class="grid ">
        <div data-role="tab-control" class="tab-control">
            <ul class="tabs">
                <li class="active"><a href="#_xls">XLS/CSV</a></li>
                <li class=""><a href="#_quantitaive">Quantitative</a></li>
            </ul>

            <div class="frames">
                <div id="_xls" class="frame" style="display: block;">
                    <div class="row">
                        <div class="span5">
                            <div class="listview small">
                                <a href="{{ path('all_formats', { 'type': 'xlsx' }) }}" class="list">
                                    <div class="list-content">
                                        <img src="/images/excel2013icon.png" class="icon">
                                        <div class="data">
                                            <span class="list-title">All Records</span>
                                            <div class="rating small no-margin">
                                                Downlad as XLSX
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="{{ path('all_formats', { 'type': 'csv' }) }}" class="list">
                                    <div class="list-content">
                                        <img src="/images/excel2013icon.png" class="icon">
                                        <div class="data">
                                            <span class="list-title">All Records</span>
                                            <div class="rating small no-margin">
                                                Downlad as CSV
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="{{ path('prioritization_report', { 'type': 'xlsx' }) }}" class="list">
                                    <div class="list-content">
                                        <img src="/images/excel2013icon.png" class="icon">
                                        <div class="data">
                                            <span class="list-title">Prioritization Report</span>
                                            <div class="rating small no-margin">
                                                Downlad as XLSX
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="span5">
                            <div class="listview small">                                
                                <a href="{{ path('manifest') }}" class="list">
                                    <div class="list-content">
                                        <img src="/images/excel2013icon.png" class="icon">
                                        <div class="data">
                                            <span class="list-title">Manifest Reports</span>
                                            <div class="rating small no-margin">
                                                Download as XLSX
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="{{ path('prioritization_report', { 'type': 'csv' }) }}" class="list">
                                    <div class="list-content">
                                        <img src="/images/excel2013icon.png" class="icon">
                                        <div class="data">
                                            <span class="list-title">Prioritization Report</span>
                                            <div class="rating small no-margin">
                                                Downlad as CSV
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="_quantitaive" class="frame" style="display: block;">
                    <div class="span5">
                        <div class="listview small">
                            <a href="{{ path('quantitative') }}" class="list">
                                <div class="list-content">
                                    <img src="/images/highchart.png" class="icon">
                                    <div class="data">
                                        <span class="list-title">Format Report</span>
                                        <div class="rating small no-margin">
                                            Click to view
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="{{ path('quantitative') }}" class="list">
                                <div class="list-content">
                                    <img src="/images/highchart.png" class="icon">
                                    <div class="data">
                                        <span class="list-title">Commercial/Unique Report</span>
                                        <div class="rating small no-margin">
                                            Click to view
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
    </div>



{% endblock %}
