{% extends 'FOSUserBundle::layout.html.twig' %}
{% block body %}
    <div class="row">
        <h1 class="place-left">Dashboard</h1> 
        <div class="place-left" style="margin-top: 35px; margin-left: 5px;">
            <select name="projects" id="projects">
                <option value="all">All Projects</option>
                {% for project in projects %}
                    <option value="{{ project.id }}">{{ project.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="row">
        <div class="span24">
            <div id="formatCount">

            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="span12 place-left">
            <div id="commercialUnique">

            </div>
        </div>
        <div class="span12 place-left">
            <div id="total">

            </div>
        </div>
    </div>
{% endblock body %}
{% block view_javascripts %}
    <script type="text/javascript" src="{{ asset('js/highcharts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/exporting.js') }}"></script>
    <script src="{{ asset('bundles/applicationfront/js/dashboard.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var baseUrl = '{{ path('report') }}';
            var obj = new Dashboard();
            obj.setBaseUrl(baseUrl);
            obj.bindAll();
        });
    </script>
{% endblock view_javascripts %}
