{% extends 'FOSUserBundle::layout.html.twig' %}
{% block body %}
    <div id="messageModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true" style="display:none;">
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header" style="background-color: black">
                    <h4 id="heading" style="color: white">How to get started</h4>
                </div>
                <form  role="form" action="{{ path("message_settings") }}" method="post">
                    <div class="modal-body">
                        <div id="messageText" style="display:none;">
                            <p><span style="font-size:13px;">1. Create Projects in the Settings menu<br/>2. Create Users in the Settings menu<br/>3. Assign Users to Projects or Projects to Users<br/>4. Create new records in the Records menu<br/></span></p>                        
                            <input type="checkbox" id="check_message" name="check_message" value="1"  class="icheck-me" data-skin="square" data-color="blue"> Do not show this message again
                        </div>
                    </div>
                    <div class="modal-footer" id="modal-footer">                        
                        <input type="submit" value="Ok" id="_submit" name="_submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <h1 class="place-left">Dashboard</h1> 
        <div class="place-left" style="margin-top: 35px; margin-left: 5px;">
            <select name="projects" id="projects">
                <option value="all">All Projects</option>
                {% for project in projects %}
                    <option value="{{ project.id }}">{{ project.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="row"></div>
    <div class="row">
        <div class="span24">
            <h3>Format Count Report</h3>
            <div id="formatCount" style="overflow: auto;">

            </div>
        </div>
    </div>
    <br />
    <div class="row"></div>
    <div class="row">
        <div class="span7 place-left">
            <h3>Commercial vs. Unique Report</h3>
            <div id="commercialUnique">

            </div>
        </div>
        <div class="span7 place-left dashboardRecordsInfo">
            <h3>Overview</h3>
            <div class="table-responsive">
                <table class="table striped bordered hovered dashboardTotals">
                    <thead>  
                        <tr><td></td><th>Total Items</th><th>Linear Footage</th><th>File Size (TB)*</th></tr>
                    </thead>
                    <tbody>
                        <tr><th>Audio</th><td id="audioTotal" class="text-center">0</td><td id="audiolinear" class="text-center">0.00</td><td id="audiofile" class="text-center">0.00</td></tr>
                        <tr><th>Video</th><td id="videoTotal" class="text-center">0</td><td id="videolinear" class="text-center">0.00</td><td id="videofile" class="text-center">0.00</td></tr>
                        <tr><th>Film</th><td id="filmTotal" class="text-center">0</td><td id="filmlinear" class="text-center">0.00</td><td id="filmfile" class="text-center">0.00</td></tr>
                    </tbody>
                </table>
            </div>
            <p style="font-size: 13px;">* The file size calculation assumes the following target format choices:</p>
            <p style="font-size: 13px;" class="margin20">Audio: 96/24 Uncompressed WAV Stereo & 256Kbps MP3</p>
            <p style="font-size: 13px;" class="margin20">Video: FFV1 10-bit & MPEG4 5.0Mbps</p>
            <p style="font-size: 13px;" class="margin20">Film: 2k Uncompressed, AVC Intra 100 & MPEG4 5.0Mbps</p>
            <p style="font-size: 13px;"> For more extensive reporting see the File Size Calculator Report found on the Reports page.
            </p>
        </div>
    </div>
{% endblock body %}
{% block view_javascripts %}
    <script type="text/javascript" src="{{ asset('js/highcharts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/exporting.js') }}"></script>
    <script src="{{ asset('bundles/applicationfront/js/dashboard.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.blockUI.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var baseUrl = '{{ path('report') }}';
            var formats
            ={{ formats | raw }} ;
                    var obj = new Dashboard();
            obj.setBaseUrl(baseUrl);
            obj.setFormats(formats);
            obj.bindAll();
        {% if check %}
                $('#messageModal').show();
                $("#messageText").show();
            {#                $("#messageModal").modal('show');#}
            {#                $("#messageModal").show();#}                
{#                    $('#messageText p span').html();#}
                    $('#messageModal').modal({
                        backdrop: 'static',
                        keyboard: false
                    });
        {% endif %} 
                });
    </script>
{% endblock view_javascripts %}
