{% extends 'FOSUserBundle::layout.html.twig' %}
{% block body %}
    <div id="messageModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true" style="display:none;">
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header" style="background-color: black">
                    <h4 id="heading" style="color: white">How to get started</h4>
                </div>
                <form  role="form" action="{{ path("message_settings") }}" method="post">
                    <div class="modal-body">
                        <div id="messageText" style="display:none;">
                            <p><span style="font-size:13px;">1. Create Projects in the Settings menu<br/>2. Create Users in the Settings menu<br/>3. Assign Users to Projects or Projects to Users<br/>4. Create new records in the Records menu<br/></span></p>                        
                            <input type="checkbox" id="check_message" name="check_message" value="1"  class="icheck-me" data-skin="square" data-color="blue"> Do not show this message again
                        </div>
                    </div>
                    <div class="modal-footer" id="modal-footer">                        
                        <input type="submit" value="Ok" id="_submit" name="_submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="termsModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true" style="display:none;">
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header" style="background-color: black">
                    <h4 id="heading" style="color: white">Terms Of Service</h4>
                </div>
                <form  role="form" action="{{ path("accept_terms") }}" method="post">
                    <div class="modal-body">
                        <div style="float: right; margin-right: 25px">
                            <span title="print" class="icon-printer" onclick="printTerms()"></span>
                        </div>
                        <div class="input-control textarea" style="height: 200px;overflow: auto;" data-role="input-control">
                            <div id="tab1">
                                {{ terms | raw }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" id="modal-footer"> 
                        <input type="submit" value="Decline" id="_closeBtn" name="close" class="btn">
                        <input type="submit" value="Accept" id="_submit" name="accepted" class="primary">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="notificationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true" style="display:none;">
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class="modal-header">
                    <h3 id="myModalLabel">Notification</h3>
                </div>
                <div id="notification_process">
                    {% if notification == "cancel" %}
                        <div class="modal-body" id="notification_body" style="font-size: 12px;">
                            Your account has been suspended. {% if contact_person != "" %}Please contact {{ contact_person }} to upgrade account.{% else %}Please upgrade your account.{%  endif %}
                        </div>
                        <div class="modal-footer" id="notification_footer">
                            {% if cancelBySAdmin %}
                                <a href="{{ path('fos_user_security_logout') }}"><input type="button" value="Ok" class="btn primary"></a>
                                {% else %}
                                <a href="{{ path('fos_user_security_logout') }}"><input type="button" value="Cancel" class="btn"></a>
                                {% endif %}
                                {% if contact_person == "" %} <a href="{{ path('plan_list', { 'id': user.organizations.id }) }}"><input type="button" value="Upgrade Now" class="btn primary"></a> {% endif %}
                        </div>
                    {% elseif notification == "not-cancel" %}
                        <div class="modal-body" id="notification_body" style="font-size: 12px;">
                            You have reached the maximum number of records for your account. If you would like to add more records please upgrade.
                        </div>
                        <div class="modal-footer" id="notification_footer">
                            <button type="button" name="close" id="close" class="button closeModal" data-dismiss="modal">Ok</button>
                        </div>
                    {% endif %}
                </div>  
            </div>
        </div>
    </div>

    <div class="row">
        <h1 class="place-left">Dashboard</h1> 
        <div class="place-left" style="margin-top: 35px; margin-left: 5px;">
            <select name="projects" id="projects">
                <option value="all">All Projects</option>
                {% for project in projects %}
                    <option value="{{ project.id }}">{{ project.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="row"></div>
    <div class="row">
        <div class="span24">
            <h3>Format Count Report</h3>
            <div id="formatCount" style="overflow: auto;">

            </div>
        </div>
    </div>
    <br />
    <div class="row"></div>
    <div class="row">
        <div class="span7 place-left">
            <h3>Commercial vs. Unique Report</h3>
            <div id="commercialUnique">

            </div>
        </div>
        <div class="span7 place-left dashboardRecordsInfo">
            <h3>Overview</h3>
            <div data-role="tab-control" class="tab-control">
                <ul class="tabs">
                    <li id="xlsTab" class="active"><a href="#d_tab">Digitized Tab</a></li>
                    <li id="graphsTab" class=""><a href="#nd_tab">Non-Digitized Tab</a></li>
                </ul>

                <div class="frames">
                    <div id="d_tab" class="frame" style="display: block;">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table striped bordered hovered dashboardTotals">
                                    <thead>  
                                        <tr><td></td><th>Total Items</th><th>Total Items Digitized</th><th>Total Content Duration of Digitized Items (min)</th><th>File Size of digitized items (TB)</th><th>Linear Shelf Footage for AV /Film Footage for digitized items</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr><th>Audio</th><td id="audioTotal" class="text-center">0</td><td id="audiodigitized" class="text-center">0</td><td id="audiocontentDur" class="text-center">0.00</td><td id="audiofile" class="text-center">0.00</td><td id="audiolinear" class="text-center">0.00</td></tr>
                                        <tr><th>Video</th><td id="videoTotal" class="text-center">0</td><td id="videodigitized" class="text-center">0</td><td id="videocontentDur" class="text-center">0.00</td><td id="videofile" class="text-center">0.00</td><td id="videolinear" class="text-center">0.00</td></tr>
                                        <tr><th>Film</th><td id="filmTotal" class="text-center">0</td><td id="filmdigitized" class="text-center">0</td><td id="filmcontentDur" class="text-center">0.00</td><td id="filmfile" class="text-center">0.00</td><td id="filmlinear" class="text-center">0.00</td></tr> 
                                        <tr><th>Total</th><td id="total" class="text-center">0</td><td id="dtotal" class="text-center">0</td><td id="durTotal" class="text-center">0</td><td id="fileTotal" class="text-center">0</td><td class="text-center"></td></tr> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="nd_tab" class="frame" style="display: block;">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table striped bordered hovered dashboardTotals">
                                    <thead>  
                                        <tr><td></td><th>Total Items</th><th>Total Items Not Digitized</th><th>Total Content Duration of Non-Digitized Items (min)</th><th>File Size of non-digitized items (TB)</th><th>Linear Shelf Footage for AV/Film Footage for non-digitized items</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr><th>Audio</th><td id="ndaudioTotal" class="text-center">0</td><td id="ndaudiodigitized" class="text-center">0</td><td id="ndaudiocontentDur" class="text-center">0.00</td><td id="ndaudiofile" class="text-center">0.00</td><td id="ndaudiolinear" class="text-center">0.00</td></tr>
                                        <tr><th>Video</th><td id="ndvideoTotal" class="text-center">0</td><td id="ndvideodigitized" class="text-center">0</td><td id="ndvideocontentDur" class="text-center">0.00</td><td id="ndvideofile" class="text-center">0.00</td><td id="ndvideolinear" class="text-center">0.00</td></tr>
                                        <tr><th>Film</th><td id="ndfilmTotal" class="text-center">0</td><td id="ndfilmdigitized" class="text-center">0</td><td id="ndfilmcontentDur" class="text-center">0.00</td><td id="ndfilmfile" class="text-center">0.00</td><td id="ndfilmlinear" class="text-center">0.00</td></tr>
                                        <tr><th>Total</th><td id="ndtotal" class="text-center">0</td><td id="nddtotal" class="text-center">0</td><td id="nddurTotal" class="text-center">0</td><td id="ndfileTotal" class="text-center">0</td><td class="text-center"></td></tr> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <p style="font-size: 13px;">* For digitized items the reporting here gives preference to the file sizes entered under the project settings. If nothing is entered under project settings, and for non-digitized items, the file size calculation assumes the following target format choices:</p>
                <p style="font-size: 13px;" class="margin20">Audio: 96/24 Uncompressed WAV Stereo & 256Kbps MP3</p>
                <p style="font-size: 13px;" class="margin20">Video: FFV1 10-bit & MPEG4 5.0Mbps</p>
                <p style="font-size: 13px;" class="margin20">Film: 2k Uncompressed, AVC Intra 100 & MPEG4 5.0Mbps</p>
                <p style="font-size: 13px;"> For more extensive reporting see the File Size Calculator Report found on the Reports page.
                </p>
            </div>
        </div>
    {% endblock body %}
    {% block view_javascripts %}
        <script type="text/javascript" src="{{ asset('js/highcharts.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/exporting.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.number.min.js') }}"></script>
        <script src="{{ asset('bundles/applicationfront/js/dashboard.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.blockUI.js') }}"></script>
        <script type="text/javascript">
                                function setFacets(format) {
                                    var setFacetsUrl = '{{ path('set_format_facets') }}';
                                    var pId = $('#projects').val();
                                    if (pId == "all") {
                                        pId = "";
                                    }
                                    $.ajax({
                                        method: "GET",
                                        url: setFacetsUrl,
                                        data: {projectId: pId, format: format},
                                        dataType: "json",
                                        success: function (result) {
                                            window.location = '{{ path('record_list') }}';
                                        }
                                    });
                                }
                                $(document).ready(function () {
                                    var baseUrl = '{{ path('report') }}';
                                    var formats
                                    ={{ formats | raw }} ;
                                            var obj = new Dashboard();
                                    obj.setBaseUrl(baseUrl);
                                    obj.setFormats(formats);
                                    obj.bindAll();

            {% if showTerms %}
                    $('#termsModal').show();
                    $('#termsModal').modal({
                        backdrop: 'static',
                        keyboard: false
                    });
            {% endif %}
            {% if check %}
                    $('#messageModal').show();
                    $("#messageText").show();
                    $('#messageModal').modal({
                        backdrop: 'static',
                        keyboard: false
                    });
            {% endif %}
            {% if notification == "cancel" or notification == "not-cancel" %}
                    $('#notificationModal').show();
                    $('#notificationModal').modal({
                        backdrop: 'static',
                        keyboard: false
                    });
            {% endif %}
                });

                function printTerms() {
                    $("#tab1").print();
                }
        </script>
    {% endblock view_javascripts %}
