{% extends '::base.html.twig' %}

{% block body %}
	{% trans_default_domain 'FOSUserBundle' %}

        <div class="login-body">
            <h2>SIGN IN</h2>
            <form class="form-signin" role="form" action="{{ path("login_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
			{% if error %}
                <span class="has-error text-danger" style="margin-bottom: 10px;display:block;">{{ error }}</span>
			{% endif %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <span class="text-success" style="margin-bottom: 10px;display:block;">
                    {{ flashMessage }}
                </span>
            {% endfor %}
                <div class="form-group">
                    <div class="email controls">
                        <input type="text" id="username" name="_username" placeholder="Email or username" class="form-control" data-rule-required="true" data-rule-email="true" required="required" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <div class="pw controls">
                        <input type="password" name="_password" placeholder="Password" required="required" class="form-control" data-rule-required="true">
                    </div>
                </div>
                <div class="submit">
                    <div class="remember">
                        <div class="icheckbox_square-blue" style="position: relative;">

                            <input type="checkbox" id="remember_me" name="_remember_me" value="on"  class="icheck-me" data-skin="square" data-color="blue" id="remember" ></div>
                        <label for="remember">Remember me</label>
                    </div>
                    <a href="{{ path('fos_user_resetting_request') }}" class="pull-right" style="padding-top: 5px;">
                        <span>Forgot password?</span>
                    </a>

                </div>
                <div class="submit">
                    <input type="submit" value="Sign me in" id="_submit" name="_submit" class="btn btn-primary">


                </div>
            </form>
            <div class="forget">
                <a href="{{ path('signup') }}">
                    <span>Don't have an account. Sign up now.</span>
                </a>
            </div>
        </div>

        <div id="passwordRequestModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true" style="display:none;">
            <div class='modal-dialog'>
                <div class='modal-content'>
                    <div class="modal-header" style="background-color: black">
                        <h4 id="heading" style="color: white">Security Protocol</h4>
                    </div>
                    <form  role="form" action="{{ path("message_settings") }}" method="post">
                        <div class="modal-body">
                            <div id="messageText" style="display:none;">
                            <p>To enhance security, AVCC is requiring all users to reset their passwords. Please press the Magic Link button below to receive an email that will confirm your email address and allow you to create a new password. Thanks for your cooperation in helping us keep AVCC secure.</p>

                            <p>If you have any questions about the process or would like verification that this is an official process developed by AVP, please feel free to contact us directly at <a href=“mailto:info@weareavp.com”>info@weareavp.com</a> or <a href=“tel:+1-917-475-9630">917-475-9630</a></p>
                                <p><span style="font-size:13px;">Send magic link to reset password. <a href="{{sendEmailUrl}}" class="btn btn-primary">Click here</a><br/></span></p>                        
                            </div>
                        </div>
                        <div class="modal-footer" id="modal-footer">                        
                        </div>
                    </form>
                </div>
            </div>
        </div>
     
{% endblock body %}
   {% block view_javascripts %}
    <script type="text/javascript">
        {% if changeP %}
            $('#passwordRequestModal').show();
            $('#messageText').show();
            $('#passwordRequestModal').modal({
                backdrop: 'static',
                keyboard: false
            });
        {% endif %}
    </script>
{% endblock view_javascripts %}