{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <div class="grid fluid">
        <h1>
            <a href="{{ path('plan') }}"><i class="icon-arrow-left-3 smaller"></i> </a>
            Edit Plan
        </h1>
        {{ form_start(edit_form, {attr: {class:'form-horizontal'} }) }}
        <fieldset>
            {{ form_errors(edit_form) }}
            <br />
            <label>Name</label>
            <div class="input-control text" data-role="input-control">
                {{ form_widget(edit_form.name, {attr: {class:'size4'} }) }}
                {% for errorItem in edit_form.name.vars.errors %}
                    <span class="has-error text-danger" for="{{ edit_form.name.vars.id }}">{{ errorItem.message }}</span>
                {% endfor %}
            </div>
            <label>Plan ID</label>
            <div class="input-control text" data-role="input-control">
                {{ form_widget(edit_form.planId, {attr: {class:'size4', readonly:"true"} }) }}
                {% for errorItem in edit_form.planId.vars.errors %}
                    <span class="has-error text-danger" for="{{ edit_form.planId.vars.id }}">{{ errorItem.message }}</span>
                {% endfor %}
            </div>
            <label>Total Records</label>
            <div class="input-control select" data-role="input-control">
                {{ form_widget(edit_form.records, {attr: {class:'size4'} }) }}

                {% for errorItem in edit_form.records.vars.errors %}
                    <span class="has-error text-danger" for="{{ edit_form.records.vars.id }}">{{ errorItem.message }}</span>
                {% endfor %}
            </div>
            <label>Amount</label>
            <div class="input-control select" data-role="input-control">
                {{ form_widget(edit_form.amount, {attr: {class:'size4', readonly:"true"} }) }}
                {% for errorItem in edit_form.amount.vars.errors %}
                    <span class="has-error text-danger" for="{{ edit_form.amount.vars.id }}">{{ errorItem.message }}</span>
                {% endfor %}
            </div>
            <label>Statement Descriptor</label>
            <div>
                {{ form_widget(edit_form.description, {attr: {class:'size4', maxlength:"22"} }) }} 
                {% for errorItem in edit_form.description.vars.errors %}
                    <span class="has-error text-danger" for="{{ edit_form.description.vars.id }}">{{ errorItem.message }}</span>
                {% endfor %}
            </div>
            <div class="clearfix"></div>
            <br/>
            <div>
                {{ form_widget(edit_form.submit, {attr: {class:'button primary'} }) }}
                or
                <a class="button"   href="{{ path('plan') }}">Cancel</a>
            </div>
        </fieldset>
        {{ form_end(edit_form) }}
    </div>

{% endblock %}
