{% extends '::base.html.twig' %}

{% block body -%}
    <h1>FilmRecords</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Footage</th>
                <td>{{ entity.footage }}</td>
            </tr>
            <tr>
                <th>Mediadiameter</th>
                <td>{{ entity.mediaDiameter }}</td>
            </tr>
            <tr>
                <th>Shrinkage</th>
                <td>{{ entity.shrinkage }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('record_film') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('record_film_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
