{% extends 'FOSUserBundle::layout.html.twig' %}

{% block body -%}


    <h1>Monthly Charges
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <small class="on-right">
                <a href="{{ path('monthly_charges_new') }}"><i class="icon-plus"></i> New</a>
            </small>
        {% endif %}
    </h1>

    <div class="table-responsive">
        <table class="table bordered hovered">
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Charge Rate <small>(per month)</small></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr id="{{entity.id}}">                        
                        <td>{{ entity.start }}</td>
                        <td>{{ entity.end }}</td>
                        <td>${{ entity.charges }}</td>
                        <td><a class="icon-eye" title="Show" href="{{ path('monthly_charges_show', { 'id': entity.id }) }}"></a> | <a class="icon-pencil" title="Edit" href="{{ path('monthly_charges_edit', { 'id': entity.id }) }}"></a> |
                            <a class="icon-remove" onclick="return confirm('Are you sure you want to delete selected charges?')" title="Delete" href="{{ path('monthly_charges_delete', { 'id': entity.id }) }}"></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}