{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
<div class="grid fluid">
    <h1>
        <a href="{{ path('monthly_charges') }}"><i class="icon-arrow-left-3 smaller"></i> </a>
        New Monthly Charge Rate
    </h1>

        {{ form_start(form, {attr: {class:'form-horizontal'} }) }}
    <fieldset>
            {{ form_errors(form) }}
            <br />
            <label>Start</label>
            <div class="input-control text" data-role="input-control">
                {{ form_widget(form.start, {attr: {class:'size4'} }) }}
                {% for errorItem in form.start.vars.errors %}
                    <span class="has-error text-danger" for="{{ form.start.vars.id }}">{{ errorItem.message }}</span>
                {% endfor %}
                </div>
                <label>End</label>
                <div class="input-control text" data-role="input-control">
                {{ form_widget(form.end, {attr: {class:'size4'} }) }}
                {% for errorItem in form.end.vars.errors %}
                        <span id='formt_error' class="has-error text-danger" for="{{ form.end.vars.id }}">{{ errorItem.message }}</span>
                {% endfor %}
                    </div>
                    <label>Charges</label>
                    <div class="input-control text" data-role="input-control">
                        $ {{ form_widget(form.charges, {attr: {class:'size4'} }) }}
                {% for errorItem in form.charges.vars.errors %}
                        <span class="has-error text-danger" for="{{ form.charges.vars.id }}">{{ errorItem.message }}</span>
                {% endfor %}
                    </div>
                    <div class="clearfix"></div>
                    <br/>
                    <div>
                {{ form_widget(form.submit, {attr: {class:'button primary'} }) }}
                            or
                            <a class="button" href="{{ path('monthly_charges') }}">Cancel</a>
                        </div>
                    </fieldset>
        {{ form_end(form) }}
                </div>

{% endblock %}
